@page
@model Lab3.Pages.Orders.OfferModel

<div class="text-center">

	<h1 class="display-4">Offer of Order id:</h1>
    <div>@Model.Offer.OrderId</div>
	<div class="text-left">
			<table class="table  table-striped table-hover">
				<thead>
					<tr>
						<th scope="col" >Shipper</th>
                        <th scope="col" >Reimbursement</th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td>@Model.Offer.Shipper?.Name</td>
                        <td>@Model.Offer.Reimbursement?.ToString()</td>
                        
                    </tr>
				</tbody>
			</table>
	</div>
</div>
