@page
@model Lab3.Pages.CartModel
@{
	ViewData["Title"] = "Shopping cart";
}

<div class="text-center mt-4">

	<h1 class="display-4 mt-5">Your cart</h1>
	<div class="text-left">
		@if (Model.Cart is null)
		{
			<p>There is nothing in your cart</p>
		}
		else
		{
			<table class="table">
				<thead>
				<tr>
					<th scope="col">Dish</th>
					<th scope="col">Count</th>
					<th scope="col">Price</th>
					<th scope="col">Sum</th>
				</tr>
				</thead>
				<tbody>

				@foreach (var item in Model.Cart.Items)
				{
					<tr>
						<th scope="row">@item.Name</th>
						<td>@item.Count</td>
						<td>@item.Price</td>
						<td>@item.Sum</td>
					</tr>
				}
				</tbody>
			</table>
			<form method="post" class="mt-5">
				<div class="mb-3">
					Building:
					<input asp-for="Location!.Building" class="form-control" />
					<span asp-validation-for="Location!.Building" class="text-danger"></span>
				</div>
				<div class="mb-3">
					Room Number:
					<input asp-for="Location!.RoomNumber" class="form-control" />
					<span asp-validation-for="Location!.RoomNumber" class="text-danger"></span>
				</div>
				<div class="mb-3">
					Location Notes:
					<input asp-for="Location!.Notes" class="form-control" />
					<span asp-validation-for="Location!.Notes" class="text-danger"></span>
				</div>
				<div class="mb-3">
					Customer Name:
					<input asp-for="CustomerName" class="form-control" />
					<span asp-validation-for="CustomerName" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Checkout</button>
			</form>
		}
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
