html{
    height: 100%;
    position: relative;
}

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    background-color: white;
    min-height: 100%;
}

header{
    height: 40px;
    position: sticky;
    top: 0;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-basis: 100%;
}

#logo{
    height: 60px;
    margin-left: 5%;
}

#logoimg{
    height: 60px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding-right: 10px;
}

h1, h2, h3{
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    flex-basis: 100%;
}

main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 90%;
    height: 1000px;
    max-width: 1400px;
    background-color: orange;
    flex-direction: row;
}
#banner{
    width: 100%;
    height: 300px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
main h1{
    background-color: #03C98C;
    font-size: 1.2em;
    padding: 5px;
}
main div{
    margin-right: 20px;
}
#contentArticles{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#contentArticles article{
    background-color: white;
    padding: 20px;
    flex-basis: 280px;
    justify-content: center;
    align-items: center;
}
/*
maybe its because of the flex but i cant manage to position
the discount span at 30px top right
 */
#discount{
    padding: 10px;
    position: absolute;
    background-color: red;
    border-radius: 50px;
}
#contentArticles article:hover{
    background-color: orange;
}
#contentArticles article h3{
    margin: 0;
}
#contentArticles article img{
    width: 100%;
}
#flexi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    border-top: solid 5px black;

    height: 120px;
    background-color: #05C55C;
    display: flex;
    align-items: center;
    justify-content: center;
}

article img{
    width: 20%;
}

.framed{
    border: solid black 1px;
    padding: 5px;
    font-size: 0.8em;
}

#shopCart{
    width: 300px;
    padding: 20px;
    background-color: #999999;
}
#productImg{
    width: 300px;
}
#productContent{
    display: flex;
    flex-basis: 100%;
}
.column{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #05C55C;
}
td, th{
    text-align: center;
    padding: 5px;
}